html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/reset.css", type="text/css")
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css", type="text/css")
  body
    div(id='root')
      if !scripts || scripts.length == 0
        h1 There are no scripts to load
      else
        each js in scripts
          script(src=js)