html
  head
    title= title
    //- link(rel="icon", href="../assets/icons/favicon.ico" type="image/x-icon")
  body
    div(id='root')
      if !scripts || scripts.length == 0
        h1 There are no scripts to load
      else
        each js in scripts
          script(src=js)